<!DOCTYPE html>
<html lang="en" th:replace="layout/masterLayout :: layout(~{:: main})" xmlns:th="http://www.thymeleaf.org">

<body>

<main role="main">
    <div class="container my-5 bg-light">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3>Book List</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead class="bg-danger text-white">
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Year Published</th>
                                <th>Publisher</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Genre</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Author</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="b : ${books}">
                                <td th:text="${b.id}"></td>
                                <td th:text="${b.title}"></td>
                                <td th:text="${b.yearPublished}"></td>
                                <td th:text="${b.publisher}"></td>
                                <td th:text="${b.price}"></td>
                                <td th:text="${b.quantity}"></td>
                                <td th:text="${b.genre}"></td>
                                <td th:text="${#strings.substring(b.description, 0, 5)}"></td>
                                <td th:text="${b.category.categoryName}"></td>
                                <td th:text="${b.author.name}"
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{/admin/book-form}" class="btn btn-primary btn-block btn-lg">
                            New Book
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>