<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footerView">
    <section class="bg-dark">
        <div class="container text-center text-white p-5">
            <h1>JOIN OUR BOOK STORE FOR DEALS AND UPDATE ON OFFER</h1>
            <div class="row justify-content-center">
                <div class="offset-md-2 col-md-6">
                    <form action="#" class="form-inline my-3">
                        <div class="input-group">
                            <input type="email" placeholder="Email" class="form-control">
                            <div class="input-group-append">
                                <div class="btn btn-success">Join Now</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section id="footer" class="p-3 bg-secondary">
        <ul class="nav justify-content-center d-flex flex-column text-white flex-sm-row">
            <li class="nav-item">
                <a class="nav-link">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">EXPERIENCE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">EXPLORE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">CONTACT</a>
            </li>
        </ul>
    </section>
</div>
</body>
</html>